<%- include('partials/header.ejs') %> 

    <main>
        <section class="category">
            <div class="background-carousel">
                <div class="carousel-list-category">
                    <% categorias.forEach(categoria => { %>
                        <div class="list-category">
                            <img class="" src="/imgs/categorias/<%= categoria.imagem %>" alt="">
                            <h3><%= categoria.nomeCategoria %></h3>
                        </div>
                    <% }) %>
                </div>
            </div>    
        </section>

        <section class="sale">
            <div class="carousel-list-sale">
                <% promocao.forEach( promocao  => { %>
                    <div class="imgMain_sale">
                         <img class="" src="/imgs/promocao/<%= promocao.imagem %>" alt="">
                    </div>
                <% }) %>
            </div>
        </section>

        <section class="best-sellers">
            <h1>Mais Vendidos</h1>
            <div class="carousel-best-sellers">
                <% maisvendidos.forEach( maisvendidos  => { %>
                    <div class="best-sellers-cont">
                        <img  src="/imgs/maisvendidos/<%= maisvendidos.imagem %>" alt="">
                        <div class="price-best-sellers">
                            <p><%= maisvendidos.nomeRemedio %></p>
                            <div class="price">
                                <span><%= maisvendidos.preco %></span>
                            </div>
                            
                        </div>
                        
                    </div>
                <% }) %>
            </div>
        </section>

        <div class="column-5">
            <div class="all_banners_column_5">
                <div class="bnr-1">
                    <div>
                        <img class="" src="">
                        
                    </div>
                </div>
                <div class="bnr-display">
                    <div class="bnr-2">
                        <div >
                            <img class="" src="">
                            
                        </div>
                    </div>
                    <div class="bnr-3">
                        <div> 
                            <img class="" src="">
                                
                        </div>
                    </div>
                    
                </div>
                <div class="bnr-4">
                    <div> 
                        <img class="" src="">
                            
                    </div>
                </div>
            </div>

            <section class="slider">
            
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
    
                    <div class="slide first">
                        <img class="" src="/imgs/slides/banner-allegra.png">
                    </div>
                    <div class="slide">
                        <img class="" src="/imgs/slides/banner-oral-b.png">
                    </div>
                    <div class="slide">
                        <img class="" src="/imgs/slides/banner-johnsons.png">
                    </div>
                    <div class="slide">
                        <img class="" src="/imgs/slides/banner-hidrabene.png">
                    </div>
    
                    <div class="navigation-slides">
                        <div class="slides-btn1"></div>
                        <div class="slides-btn2"></div>
                        <div class="slides-btn3"></div>
                        <div class="slides-btn4"></div>
                    </div>
                </div>
                
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                
            </section>
            
        </div>
        <section class="nossas-marcas">
            <ul class="marcas">
                <% nossasMarcas.forEach( nossasMarcas  => { %>
                <li>
                    <img class="imgMain" src="/imgs/<%= nossasMarcas.imagem %>" alt="">
                </li>
                <% }) %>
            </ul>
        </section>

        <section class="column-7">
            <div class="banners-column-7">   
                <ul class="bnr-column-7">
                    <% bannerextras.forEach( bannerextras  => { %>
                        <li>
                            <img class="imgMain" src="/imgs/bannerextras/<%= bannerextras.imagem %>" alt="">
                        </li>
                    <% }) %>
                </ul>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %> 

</body>
</html>